<div style="display: inline-flex;padding-left: 300px;">
  <%= label_tag '', {style: 'width: auto;'} do %>
    <%= check_box_tag "settings[warning_message_on_closed_issues]", '1', Setting["plugin_redmine_tiny_features"]["warning_message_on_closed_issues"] %>
    <%= l("setting_warning_message_on_closed_issues") %>
  <% end %>
</div>
